.container {
    height: 100%;
    background: #F1F2F6;
    padding: .625rem;
}

.box {
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 1.875rem 1.25rem;
}

.filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.875rem;
}

.filter-input {
    width: 16.25rem;
    margin-right: .625rem;
}

.edit {
    margin: 0 3.125rem;
}

.delete {
    color: #FF5345;
}