.filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.875rem;
}

.filter-input {
    width: 16.25rem;
    margin-right: .625rem;
}

.edit {
    margin: 0 3.125rem;
}

.delete {
    color: #FF5345;
}
.danger {
    color: #FF5345;
}
.orange {
    color: orange
}

.gray {
    color: #9CA6B6C6;
} 



.modal-btn {
    display: flex;
    justify-content: flex-end;
}
.modal-btn-submit {
    margin-left: .625rem;
}



